<% form_for([commentable, (@comment || Comment.new)], :html => {:id=>"comment-form"} ) do |f| %>
<%= f.error_messages %>
<p>
  <%= f.label :name, "Name*" %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :email, "Email*" %>
  <%= f.text_field :email %>
</p>

<p>
  <%= f.label :website, 'Website' %>
  <%= f.text_field :website %>
</p>

<p>
  <%= f.label :comment, "Comment*" %>
  <%= f.text_area :comment, :rows => 5 %>
</p>

<p class="buttons"><%= f.submit 'Submit', :class => 'f-submit', :id => 'submit' %></p>

<% end -%>
