<% content_for :header do %>
  <%= javascript_include_tag 'lightwindow' %>
  <%= stylesheet_link_tag 'lightwindow' %>
<% end -%>

<h1><%= @article.new_record? ? 'New' : 'Editing an' %> Article</h1>

<% form_for([:admin, @article], :html => {:id => 'has-assets-form'}) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, :class => 'title' %>
  </p>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :class => 'editor' %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3 %>
  </p>
  <p>
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list, :class => 'long' %>
  </p>
  <p>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :title, :prompt => true %> 
  </p>
  <p>
    <%= f.label :allow_comments %><br />
    <%= f.check_box :allow_comments %>
  </p>

  <%= publish_select(f) %>

  <p class="submission">
    <%= preview_link(@article) %>
    <%= f.submit 'Publish', :name => 'article[publish]' %>
    <%= f.submit 'Save as draft', :name => 'article[hide]' %>
    or <%= link_to 'Cancel', admin_articles_path %>
  </p>
<% end %>


<% content_for :sub_content do %>

<%= asset_list(@article) %>

<h2>File Library</h2>
<%= asset_browser(true) %>

<h2>File Upload</h2>
<%= asset_upload_form %>

<h2>Flickr Images</h2>
<%= flickr_select %>
<% end %>