<% content_for :header do %>
  <%= javascript_include_tag 'lightwindow' %>
  <%= stylesheet_link_tag 'lightwindow' %>
<% end -%>

<h1><%= @article.new_record? ? 'New' : 'Editing an' %> Article</h1>

<% form_for(:article, @article, :url => polymorphic_path([:admin, @article]), :html => {:id => 'has-assets-form', :class => 'edit_article', :method => ( @article.new_record? ? :post : :put ) }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, 'Title*' %><br/>
    <%= f.text_field :title, :class => 'title' %>
  </p>

  <p>
    <%= f.label :body, 'Body*' %><br />
    <%= f.text_area :body, :class => 'editor' %>
  </p>
  <p>
    <%= f.label :description, 'Description*' %><br />
    <%= f.text_area :description, :rows => 3 %>
  </p>
  <p>
    <%= f.label :tag_list, 'Keywords (used by search engines) & Tags - comma separated*' %><br />
    <%= f.text_field :tag_list, :class => 'long' %>
  </p>
<% if Category.exists? %>
  <p>
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :title, :prompt => true %>
  </p>
<% end -%>
  <p>
    <%= f.label :allow_comments %><br />
    <%= f.check_box :allow_comments %>
  </p>

  <%= publish_select(f) %>

  <p class="submission">
    <%= preview_link(@article) %>
    <%= f.submit 'Publish', :name => 'article[publish]' %>
    <%= f.submit 'Save as draft', :name => 'article[hide]' %>
    or <%= link_to 'Cancel', admin_articles_path, :title => 'Stop editing and return to view all articles' %>
  </p>
<% end %>


<% content_for :sub_content do %>

<%= asset_list(@article) %>

<h2>File Library</h2>
<%= asset_browser(true) %>

<h2>File Upload</h2>
<%= asset_upload_form %>

<%= flickr_select %>
<% end %>