<% content_for 'header' do %>
  <%= auto_discovery_link_tag :rss, {:tag => params[:tag], :page => nil, :format => 'rss'} unless params[:year] %>
<% end %>


<div id="supporting-content">
    <h2>Archive</h2>
    <%= archive %>
    <%= link_to ('RSS', {:tag => params[:tag], :page => nil, :format => 'rss'}, :class => 'rss') unless params[:year] %>
</div>

<!-- so:main-content -->
<div id="main-content">
    
  <dl id="articles">
  <%= render :partial => @articles %>
  </dl>
  
  <%= will_paginate(:previous_label => 'previous', :next_label => 'next') %>
    
</div>
<!-- eo:main-content -->
