<% @page_id = @article.category.permalink if @article.category %>

<% content_for 'header' do %>
  <%= auto_discovery_link_tag :rss, articles_path(:rss) %>
<% end %>

<div id="supporting-content">
  <% unless @article.category.nil? %>
  <% if @article.category.permalink == "inside" %>
    <h2>boothfilms is&hellip;</h2>
    <%= TextElement.booth_films_is 'home' %>
    <%= link_to ('RSS', {:tag => params[:tag], :page => nil, :format => 'rss'}, :class => 'rss') unless params[:year] %>
  <% else %>
    <h2>Archive</h2>
      <%= archive %>
      <%= link_to 'back', category_articles_path(@article.category.permalink), :class => 'back' %>
  <% end %>
  <% end %>
</div>


<div id="main-content">
  <h1><%=h @article.title %></h1>
  <%= @article.body %>
  
  <%= render :partial => 'meta', :locals => {:article => @article } %>
  
  <%= gallery @article.assets %>

  <%= documents @article.assets %>
  
  <h4 id="share-title" title="Share This Article">Share This</h4>
  <p class="share-links">
    <%= mail_link @article %> <%= digg_link @article %> <%= delicious_link @article %> <%= facebook_link @article %> <%= stumble_link @article %> <%= twitter_link @article %> <%= reddit_link @article %> <%= technorati_link @article %>
  </p>

<% if @article.allow_comments? or @article.comments.any? -%>
  <div id="comments">
    <h2>Comments</h2>
    
<% if @article.comments.empty? -%>
    <p class="no-comments">There are currently no comments.</p>
<% else -%>
    <%= comments_list @article %>
<% end -%>

<% if @article.allow_comments? %>
    <h2 id="respond">Leave a Comment</h2>
    <%= render :partial => 'comments/form', :locals => { :commentable => @article } %>
<% end -%>
  </div><!-- eo:comments -->
<% end -%>

</div><!-- eo:main-content -->

