<h1><%= @category.new_record? ? 'New' : 'Editing a' %> Category</h1>

<% form_for([:admin, @category]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, '*Title' %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3 %>
  </p>
  <p class="submission">
    <%= f.submit @category.new_record? ? 'Create' : 'Update', :disable_with => 'Submitting...' %> or <%= link_to 'Back', admin_categories_path %>
  </p>
<% end %>

